.sidenav {
  width: 250px;
  height: 94vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1030;
  background-color: #333;
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
  margin-top: 20px;
  margin-left: 20px;
}

.navbar-toggler {
  display: none;
}



.nav-link {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.nav-link.active {
  background-color: rgba(255, 255, 255, 0.2);
}

.nav-link-text {
  font-size: 0.9rem;
}

.sidebar-wrapper {
  overflow-y: hidden; /* remove scrollbar */
  padding-bottom: 80px; /* add gap between Diet Plans and Account pages */
}



@media (max-width: 767.98px) {
  .sidenav {
    transform: translateX(-100%);
  }

  .sidenav.show {
    transform: translateX(0);
  }

  .navbar-toggler {
    display: block;
  }
}

@media (min-width: 768px) {
  .sidenav {
    transform: translateX(0);
  }
}

.bg-gradient-darkblue {
  background: linear-gradient(135deg, #1d3557, #457b9d);
}

.bg-teal {
  background-color: #2a9d8f !important;
}

.nav-link:hover {
  background-color: rgba(42, 157, 143, 0.8);
  transition: background-color 0.3s ease;
}

.sidenav-footer {
  background-color: #1d3557;
}

.sidenav.collapsed {
  width: 60px; /* Adjust width for collapsed state */
  overflow: hidden; /* Hide overflow */
}

.sidenav.collapsed .nav-link-text {
  display: none; /* Hide text in collapsed state */
}


.navheader{
 margin: 0 !important;
}